<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "visitor.id" %></th>
      <th><%= t "visitor.name" %></th>
      <th><%= t "visitor.gender" %></th>
      <th><%= t "visitor.birthday" %></th>
      <th><%= t "visitor.phone_number" %></th>
      <th><%= t "visitor.address" %></th>
      <th><%= t "visitor.email" %></th>
    </tr>
  </thead>
  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.id %></td>
        <td><%= visitor.name %></td>
        <td>
          <% if visitor.gender == false %>
            <%= t "visitor.male" %>
          <% else %>
            <%= t "visitor.female" %>
          <% end %>
        </td>
        <td><%= visitor.birthday.strftime("%d-%m-%Y") %></td>
        <td><%= visitor.phone_number %></td>
        <td><%= visitor.address %></td>
        <td><%= visitor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
