<% provide :title, t("admin_bookings.title") %>
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3><% t "admin_bookings.title" %></h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><% t "admin_bookings.all" %></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="categories-table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t "admin_bookings.id" %></th>
                <th><%= t "admin_bookings.tour" %></th>
                <th><%= t "admin_bookings.date" %></th>
                <th><%= t "admin_bookings.user" %></th>
                <th><%= t "admin_bookings.visitors" %></th>
                <th><%= t "admin_bookings.total_price" %></th>
                <th><%= t "Trạng thái.status" %></th>
                <th><%= t "admin_manage.action" %></th>
            </thead>
            <tbody>
              <% @bookings.each do |booking| %>
                <tr>
                  <td><%= link_to booking.id, admin_booking_path(booking) %></td>
                  <td><%= booking.tour.name %></td>
                  <td><%= booking.tour.start_date.strftime("%d/%m/%Y") %> - <%= booking.tour.end_date.strftime("%d/%m/%Y") %></td>
                  <td><%= booking.user.username %></td>
                  <td><%= booking.visitors.count %></td>
                  <td>
                    <% if booking.tour.vnd? %>
                      <%= booking.total_price.round %> <%= t "tour.vnd" %>
                    <% else %>
                      <%= booking.total_price %> <%= t "tour.usd" %>
                    <% end %>
                  </td>
                  <td><%= booking.status %></td>
                  <td>
                    <%= link_to edit_admin_booking_path(booking), class: "btn btn-round btn-info btn-xs" do %>
                      <i class="fa fa-pencil-square-o "></i><%= t "admin_manage.edit" %>
                    <% end %>
                    <%= link_to [:admin, booking], method: :delete, class: "btn btn-round btn-danger btn-xs" do %>
                      <i class="fa fa-times"></i><%= t "admin_manage.delete" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    //DataTable
    $('#categories-table').DataTable();
  })
</script>
