<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<script src="js/jquery-1.11.0.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/style1.css" rel="stylesheet" type="text/css" media="all" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
<!--google fonts-->
<!-- animated-css -->
<link href="css/animate1.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
<script>
  new WOW().init();
</script>
<!-- animated-css -->
<script src="js/modernizr.js"></script>
<script>
  $(document).ready(function(){
    if (Modernizr.touch) {
      // show the close overlay button
      $(".close-overlay").removeClass("hidden");
      // handle the adding of hover class when clicked
      $(".branch-gd").click(function(e){
        if (!$(this).hasClass("hover")) {
          $(this).addClass("hover");
        }
      });
      // handle the closing of the overlay
      $(".close-overlay").click(function(e){
        e.preventDefault();
        e.stopPropagation();
        if ($(this).closest(".branch-gd").hasClass("hover")) {
          $(this).closest(".branch-gd").removeClass("hover");
        }
      });
  } else {
    // handle the mouseenter functionality
    $(".branch-gd").mouseenter(function(){
      $(this).addClass("hover");
    })
    // handle the mouseleave functionality
    .mouseleave(function(){
      $(this).removeClass("hover");
      });
    }
  });
</script>
<script src="js/bootstrap.min.js"></script>

<!--header start here-->
  <!-- NAVBAR
    ================================================== -->
<div class="header">
  <div class="fixed-header">
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="logo wow slideInLeft" data-wow-delay="0.3s">
              <%= link_to root_path do %>
                <%= image_tag "logo.png", alt: "logo" %>
              <% end %>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <nav class="cl-effect-16" id="cl-effect-16">
              <ul class="nav navbar-nav">
                <li><%= link_to t("home.home"), root_path, class: "active" %></li>
                <li><%= link_to t("home.top_tours"), tours_path %></li>
                <li><%= link_to t("home.destinations"), places_path %></li>
                <li><%= link_to t("home.discounts"), discounts_path %></li>
                <li><%= link_to t("home.about"), static_pages_path(:contact) %></li>
                <% if user_signed_in? %>
                  <li class="has-child">
                    <a><%= t "account" %></a>
                    <ul class="child">
                      <li><%= link_to "Profile", current_user %></li>
                      <li>
                        <%= link_to "Edit", edit_user_registration_path %>
                      </li>
                      <li>
                        <%= link_to t("static_pages.header.logout"),
                          destroy_user_session_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li class="lt-child">
                    <%= link_to new_user_session_path do %>
                      <i class="fa fa-sign-in" aria-hidden="true"></i>Login
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </nav>
          </div>
          <div class="clearfix"> </div>
        </nav>
      </div>
      <div class="clearfix"> </div>
    </div>
   </div>
</div>
<!--header end here-->
<!--banner  start hwew-->
<div class="banner">
  <div class="container">
    <div class="banner-main wow zoomIn" data-wow-delay="0.3s">
      <h2>MY TOURS</h2>
      <h6>We Make Awesome Tours</h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
  </div>
</div>
<!--BANNER END HERE-->
<!--information start here-->
<div class="information">
  <div class="container">
    <div class="information-main">
        <div class="information-grid five-star wow slideInLeft" data-wow-delay="0.3s">
          <div class="col-md-4 hotel-info">
            <div class="info-right">
              <h4>Star Hotel</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 hotel-info">
            <div class="info-right">
              <h4>Services</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 hotel-info">
            <div class="info-right">
              <h4>Secure</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="information-grid wow slideInRight" data-wow-delay="0.3s">
          <div class="col-md-4 hotel-info">
            <div class="info-right">
              <h4>Food</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 hotel-info">
            <div class="info-right">
              <h4>Hotel</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="col-md-4 hotel-info">
            <div class="info-right">
              <h4>Bell</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--information end here-->
<!--leaves start here-->
<div class="leaves">
  <div class="container">
    <div class="leaves-main wow zoomIn" data-wow-delay="0.3s">
      <h1>Find Your Tour Today</h1>
      <h6>100% Friendly services</h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
      <%= link_to t("home.tour"), tours_path %>
    </div>
  </div>
</div>
<!--leaves end here-->
<!--branches start here-->
<div class="home-block">
  <div class="container">
    <div class="home-main">
      <div class="home-top">
        <h3>Our Discounts</h3>
      </div>
      <div  id="effect-5" class="branch-btm">
        <div class="col-md-12">
          <% @discounts.each do |discount| %>
            <div class="col-md-4">
              <%= image_tag "london.jpg", alt: "discount", class: "img-responsive" %>
              <%= link_to discount.name, discount_path(discount)  %>
              </div>
            <% end %>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--branches end here-->

<!--homegrids start here-->
<div class="home-block">
  <div class="container">
    <div class="home-main">
      <div class="home-top">
        <h3>Latest  Tours</h3>
      </div>
      <div  id="effect-5" class="branch-btm">
        <div class="col-md-12">
          <% @tours.each do |tour| %>
            <div class="col-md-4">
              <%= image_tag "london.jpg", alt: "discount", class: "img-responsive" %>
              <%= link_to tour.name, tour  %>
              </div>
            <% end %>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--home grid end here-->
<!--footer start here-->
<div class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="col-md-3 ftr-grid wow zoomIn" data-wow-delay="0.3s">
        <div class="ftr-logo">
        <img src="images/ftr-logo.png"  alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <a href="single.html" class="ftr-btn">Read More</a>
      </div>
      <div class="col-md-3 ftr-grid ftr-mid wow zoomIn" data-wow-delay="0.3s">
         <h3>Address</h3>
         <span class="ftr-line flm"> </span>
        <p>Eye Associates Of Virginia?</p>
        <p>5875 Bremo Road </p>
        <p>Richmond, VA(Virginia) 23226 </p>
        <p>(804) 287-4216 </p>
        <p>Alice Merriman</p>

      </div>
      <div class="col-md-3 ftr-grid ftr-rit wow zoomIn" data-wow-delay="0.3s">
         <h3>Contact Us</h3>
         <form>
          <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
          <input type="submit" value="Send" />
         </form>
          <ul class="ftr-icons">
          <li><a href="#"><span class="fa"> </span></a></li>
          <li><a href="#"><span class="tw"> </span></a></li>
          <li><a href="#"><span class="link"> </span></a></li>
          <li><a href="#"><span class="gmail"> </span></a></li>
         </ul>
      </div>
      <div class="col-md-3 ftr-grid ftr-last-gd ftr-rit wow zoomIn" data-wow-delay="0.3s">
         <h3>Quick Link</h3>
          <ul class="ftr-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services </a></li>
          <li><a href="room.html">Rooms</a></li>
          <li><a href="contact.html">Contact</a></li>
         </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--footer end here-->
<!--copy rights start here-->
<div class="copy-right">
  <div class="container">
     <div class="copy-rights-main wow zoomIn" data-wow-delay="0.3s">
          <p>© 2016 Mr Hotel. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
       </div>
    </div>
</div>
