<%= form_for [:admin, @tour] do |f| %>
  <div class="form-group">
    <label class="col-md-4 control-label" for="tour_name">
      <%= t "tour.name" %>
    </label>

    <div class="col-md-8">
      <%= f.text_field :name, class: "form-control input-md", required: true,
        placeholder: "Enter name ..." %>
      <span class="help-block"><%= t "tour.enter_name" %></span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="startPlace">
      <%= t "tour.start_place" %>
    </label>

    <div class="col-md-8">
      <%= f.text_field :start_place, class: "form-control input-md",
        required: true, placeholder: "Enter start place ..." %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="endPlace">
      <%= t "tour.end_place" %>
    </label>

    <div class="col-md-8">
      <%= f.text_field :end_place, class: "form-control input-md",
        required: true, placeholder: "Enter end place ..." %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="description">
      <%= t "tour.description" %>
    </label>

    <div class="col-md-8">
      <%= f.text_area :description, class: "form-control", required: true,
        placeholder: "Enter description ..." %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="price">
      <%= t "tour.price" %>
    </label>

    <div>
      <div class="col-md-8">
        <div class="col-md-9" style="padding-left: 0;">
          <%= f.text_field :price, class: "form-control", required: true,
            placeholder: "Enter price ..." %>
        </div>
        <div class="col-md-3">
          <select name="currency">
            <option value="vnd"><%= t "tour.vnd" %></option>
            <option value="usd"><%= t "tour.usd" %></option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="start_date">
      <%= t "tour.start_date" %>
    </label>
    <div>
      <div class="col-md-8">
        <%= f.text_field :start_date, class: "form-control datetimepicker",
          value: "#{f.object.start_date.strftime("%d-%m-%Y")}" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="end_date">
      <%= t "tour.end_date" %>
    </label>
    <div>
      <div class="col-md-8">
        <%= f.text_field :end_date,class: "form-control datetimepicker",
          value: "#{f.object.end_date.strftime("%d-%m-%Y")}" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="tour_min_visitors">
      <%= t "tour.min_visitors" %>
    </label>

    <div class="col-md-8">
      <%= f.text_field :min_visitors, class: "form-control input-md", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="tour_min_visitors">
      <%= t "tour.max_visitors" %>
    </label>

    <div class="col-md-8">
      <%= f.text_field :max_visitors, class: "form-control input-md", required: true %>
    </div>
  </div>

  <div class="text-center">
    <%= f.submit t("save"), class: "btn btn-primary" %>
    <%= link_to t("cancel"), admin_places_path, class: "btn btn-danger" %>
  </div>
<% end %>
