<% provide :title, t("tour.title") %>
<h1 class="text-center"><%= t "tour.title" %></h1><br>

<%= search_form_for [:admin, @search], url: search_admin_tours_path, method: :post do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_conditions t("add_condition"), f, :condition %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit t "search" %></div>
<% end %>

<div class="row">
  <div class="col-md-6 center">
    <%= link_to t("tour.add"), new_admin_tour_path,
      class: "btn btn-success glyphicon glyphicon-plus" %>
  </div>
</div>

<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "tour.id" %></th>
      <th><%= t "tour.name" %></th>
      <th><%= t "tour.start_place" %></th>
      <th><%= t "tour.end_place" %></th>
      <th><%= t "tour.price" %></th>
      <th><%= t "tour.start_date" %></th>
      <th><%= t "tour.end_date" %></th>
      <th><%= t "tour.min_visitors" %></th>
      <th><%= t "tour.max_visitors" %></th>
      <th><%= t "tour.accommodation" %></th>
      <th><%= t "tour.meals" %></th>
      <th><%= t "tour.transport" %></th>
      <th><%= t "tour.services" %></th>
      <th><%= t "tour.action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.id %></td>
        <td><%= link_to tour.name, admin_tour_path(tour) %></td>
        <td><%= tour.start_place %></td>
        <td><%= tour.end_place %></td>
        <td>
          <% if tour.vnd? %>
            <%= tour.price.round %> <%= tour.currency %>
          <% else %>
            <%= tour.price.round(2) %> <%= tour.currency %>
          <% end %>
        </td>
        <td><%= tour.start_date.strftime("%d-%m-%Y") %></td>
        <td><%= tour.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= tour.min_visitors %></td>
        <td><%= tour.max_visitors %></td>
        <td><%= truncate(tour.accommodation, length: 100) %></td>
        <td><%= tour.meals %></td>
        <td><%= truncate(tour.transport, length: 100) %></td>
        <td><%= truncate(tour.additional_services, length: 100) %></td>
        <td>
          <%= link_to t("edit"), edit_admin_tour_path(tour),
            class: "btn btn-primary" %>
          <%= link_to t("delete"), [:admin, tour], method: :delete,
            data: {confirm: t("sure")}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
