<% provide :title, @tour.name %>
<div class="row">
  <div>
    <label><%= t "tour.name" %></label>
    <%= @tour.name %>
  </div>
  <div>
    <label><%= t "tour.start_place" %></label>
    <%= @tour.start_place %>
  </div>
  <div>
    <label><%= t "tour.end_place" %></label>
    <%= @tour.end_place %>
  </div>
  <div>
    <label><%= t "tour.price" %></label>
    <% if @tour.currency.vnd? %>
      <%= @tour.price.round %> <%= @tour.currency %>
    <% else %>
      <%= @tour.price %> <%= @tour.currency %>
    <% end %>
  </div>
  <div>
    <label><%= t "tour.start_date" %></label>
    <%= @tour.start_date.strftime("%d-%m-%Y") %>
  </div>
  <div>
    <label><%= t "tour.end_date" %></label>
    <%= @tour.end_date.strftime("%d-%m-%Y") %>
  </div>
  <div>
    <label><%= t "tour.min_visitors" %></label>
    <%= @tour.min_visitors %>
  </div>
  <div>
    <label><%= t "tour.max_visitors" %></label>
    <%= @tour.max_visitors %>
  </div>
  <div>
    <label><%= t "tour.accommodation" %></label>
    <%= @tour.accommodation %>
  </div>
  <div>
    <label><%= t "tour.meals" %></label>
    <%= @tour.meals %>
  </div>
  <div>
    <label><%= t "tour.transport" %></label>
    <%= @tour.transport %>
  </div>
  <div>
    <label><%= t "tour.services" %></label>
    <%= @tour.additional_services %>
  </div>
</div>
