<% provide :title, @tour.name %>
<div class="row" style="margin-left:50px;">
  <h2><strong><%= t "admin_tours.detail" %></strong></h2>
  <div>
    <label><%= t "admin_tours.name" %>: </label>
    <%= @tour.name %>
  </div>
  <div>
    <label><%= t "admin_tours.start_place" %>: </label>
    <%= @tour.start_place.name %>
  </div>
  <div>
    <label><%= t "admin_tours.end_place" %>: </label>
    <%= @tour.end_place.name %>
  </div>
  <div>
    <label><%= t "admin_tours.price" %>: </label>
    <% if @tour.vnd? %>
      <%= @tour.price.round %> <%= t "vnd" %>
    <% else %>
      <%= t "usd" %><%= @tour.price %>
    <% end %>
  </div>
  <div>
    <label><%= t "admin_tours.start_date" %>: </label>
    <%= @tour.start_date.strftime("%d-%m-%Y") %>
  </div>
  <div>
    <label><%= t "admin_tours.end_date" %>: </label>
    <%= @tour.end_date.strftime("%d-%m-%Y") %>
  </div>
  <div>
    <label><%= t "admin_tours.min" %>: </label>
    <%= @tour.min_visitors %>
  </div>
  <div>
    <label><%= t "admin_tours.max" %>: </label>
    <%= @tour.max_visitors %>
  </div>
  <div>
    <label><%= t "admin_categories.title" %>: </label>
    <%= @tour.category.title %>
  </div>
  <% if @tour.discount %>
    <label><%= t "admin_bookings.discount" %>: </label>
    <%= @tour.discount.name %> - <%= @tour.discount.percent %>%
  <% end %>
  <div>
    <label><%= t "admin_tours.accommodation" %>: </label>
    <%= @tour.accommodation %>
  </div>
  <div>
    <label><%= t "admin_tours.meals" %>: </label>
    <%= @tour.meals %>
  </div>
  <div>
    <label><%= t "admin_tours.transport" %>: </label>
    <%= @tour.transport %>
  </div>
  <div>
    <label><%= t "admin_tours.service" %>: </label>
    <%= @tour.additional_services %>
  </div>
  <div>
    <%= link_to t("edit"), edit_admin_tour_path(@tour),
      class: "btn btn-primary" %>
    <%= link_to t("delete"), [:admin, @tour], method: :delete,
      data: {confirm: t("sure")}, class: "btn btn-danger" %>
  </div>
</div>
