<% provide :title, t("place.title") %>
<h1 class="text-center"><%= t "place.title" %></h1><br>
<div class="row">
  <div class="col-md-6 center">
    <%= link_to t("place.add"), new_admin_place_path,
      class: "btn btn-success glyphicon glyphicon-plus" %>
  </div>
</div>
<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "place.id" %></th>
      <th><%= t "place.name" %></th>
      <th><%= t "place.description" %></th>
      <th><%= t "place.action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.id %></td>
        <td><%= link_to place.name, admin_place_path(place) %></td>
        <td><%= place.description %></td>
        <td>
          <%= link_to t("edit"), edit_admin_place_path(place),
            class: "btn btn-primary" %>
          <%= link_to t("delete"), [:admin, place], method: :delete,
            data: {confirm: t("sure")}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
