<% provide :title, @place.name %>
<div class="row">
  <aside class="col-md-4">
    <div>
      <label><%= t "place.name" %></label>
      <%= @place.name %>
    </div>
    <div>
      <label><%= t "place.description" %></label>
      <%= @place.description %>
    </div>
  </aside>
  <div>
    <%= link_to t("edit"), edit_admin_place_path(@place),
      class: "btn btn-primary" %>
    <%= link_to t("delete"), [:admin, @place], method: :delete,
      data: {confirm: t("sure")}, class: "btn btn-danger" %>
  </div>

  <div class="col-md-8">
    <% if @place.reviews.any? %>
      <h3><%= t "review.title" %> (<%= @place.reviews.count %>)</h3>
        <ol class="reviews">
          <%= render "admin/reviews/index" %>
        </ol>
    <% end %>
  </div>
</div>
