<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "user_visitors.id" %></th>
      <th><%= t "user_visitors.name" %></th>
      <th><%= t "user_visitors.gender" %></th>
      <th><%= t "user_visitors.birthday" %></th>
      <th><%= t "user_visitors.email" %></th>
    </tr>
  </thead>
  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.id %></td>
        <td><%= visitor.name %></td>
        <td>
          <% if visitor.gender == false %>
            <%= t "user_visitors.male" %>
          <% else %>
            <%= t "user_visitors.female" %>
          <% end %>
        </td>
        <td><%= visitor.birthday.strftime("%d-%m-%Y") %></td>
        <td><%= visitor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
