<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<link href="../build/css/custom.min.css" rel="stylesheet">

  <div class="container body">
    <div class="main_container">
      <div class="right_col" role="main">
        <div class="">
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>All Bookings</h2>
                  <div class="clearfix"></div>
                </div>

                <div class="x_content">
                  <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">Booking </th>
                          <th class="column-title">Booking Date </th>
                          <th class="column-title">Tour </th>
                          <th class="column-title">Price </th>
                          <th class="column-title">Qty </th>
                          <th class="column-title">Discount </th>
                          <th class="column-title">Amount </th>
                          <th class="column-title">Status </th>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @bookings.each do |booking| %>
                        <tr class="even pointer">
                          <td class=" "><%= booking.id %></td>
                          <td class=" "><%= booking.created_at.strftime("%d-%m-%Y") %></td>
                          <td class=" "><%= booking.tour.name %></td>
                          <td class="a-right a-right ">
                            <% if booking.tour.vnd? %>
                              <%= booking.tour.price.round %> <%= t "tour.vnd" %>
                            <% else %>
                              $<%= booking.tour.price %>
                            <% end %>
                          </td>
                          <td class=" "><%= booking.visitors.count %></td>
                          <td class=" ">
                            <% if booking.tour.discount.nil? %>
                              0%
                            <% else %>
                              <%= booking.tour.discount.percent %>%
                            <% end %>
                          </td>
                          <td class=" ">
                            <% if booking.tour.vnd? %>
                              <%= booking.total_price.round %> <%= t "tour.vnd" %>
                            <% else %>
                              $<%= booking.total_price %>
                            <% end %>
                          </td>
                          <td class=" "><%= booking.status %></td>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="../vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="../vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="../vendors/nprogress/nprogress.js"></script>
  <!-- iCheck -->
  <script src="../vendors/iCheck/icheck.min.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="../build/js/custom.min.js"></script>
