<% provide :title, t("booking.all") %>
<h1 class="text-center"><%= t "booking.all" %></h1><br>

<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "booking.id" %></th>
      <th><%= t "tour.name" %></th>
      <th><%= t "tour.start_date" %></th>
      <th><%= t "tour.end_date" %></th>
      <th><%= t "tour.price" %></th>
      <th><%= t "visitor.number" %></th>
      <th><%= t "booking.total_price" %></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <% if booking.uncheck? %>
        <tr>
          <td><%= booking.id %></td>
          <td><%= link_to booking.tour.name, tour_path(booking.tour) %></td>
          <td><%= booking.tour.start_date.strftime("%d-%m-%Y") %></td>
          <td><%= booking.tour.end_date.strftime("%d-%m-%Y") %></td>
          <td>
            <% if booking.tour.currency == "vnd" %>
              <%= booking.tour.price.round %> <% t "tour.vnd" %>
            <% else %>
              <%= booking.tour.price.round(2) %> <% t "tour.usd" %>
            <% end %>
          </td>
          <td><%= booking.visitors.count %></td>
          <td>
            <% if booking.tour.vnd? %>
              <%= booking.total_price.round %> <%= t "tour.vnd" %>
            <% else %>
              <%= booking.total_price %> <%= t "tour.usd" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
