<% provide :title, @booking.tour.name %>
<h1 class="text-center"><%= t "admin_bookings.infor" %></h1><br>
<div class="row" style="margin-left: 20px;">
  <div>
    <label><%= t "user_bookings.id" %>: </label>
    <%= @booking.id %>
  </div>

  <div>
    <label><%= t "user_bookings.status" %>: </label>
    <%= @booking.status %>
  </div>

  <div>
    <label><%= t "user_bookings.tour" %>: </label>
    <%= link_to @booking.tour.name, tour_path(@booking.tour) %>
  </div>

  <div>
    <label><%= t "user_bookings.discount" %>: </label>
    <%= link_to @booking.tour.discount.name, discount_path(@booking.tour.discount) %> (-<%= @booking.tour.discount.percent %>%)
  </div>

  <div>
    <label><%= t "user_visitors.title" %>: </label>
    <%= render "index_visitors" %>
  </div>
  <div>
    <label><%= t "user_bookings.total_price" %>: </label>
    <% if @booking.tour.vnd? %>
      <%= @booking.total_price.round %> <%= t "vnd" %>
    <% else %>
      <%= t "usd" %><%= @booking.total_price %>
    <% end %>
  </div>
  <%= link_to t("user_bookings.title"), bookings_path, class: "btn btn-success" %>
  <%= link_to t("user_actions.pay"), new_booking_payment_path(@booking), class: "btn btn-primary" %>
</div>
