<h1 class="text-center"><%= t "users.infor" %></h1><br>
<div class="row" style="margin-left: 20px;">
  <div>
    <label><%= t "users.username" %>: </label>
    <%= @user.username %>
  </div>

  <div>
    <label><%= t "users.email" %>: </label>
    <%= @user.phone_number %>
  </div>

  <div>
    <label><%= t "users.phone_number" %>: </label>
    <%= @user.phone_number %>
  </div>

  <div>
    <label><%= t "users.address" %>: </label>
    <%= @user.address %>
  </div>
  <%= link_to t("delete"), @user, method: :delete, data: {confirm: t("sure")},
  class: "btn btn-danger" if @user == current_user %>
</div>
