<% provide :title, t("tour.title") %>
<link href="/css/admin_main.css" rel="stylesheet">


<%= search_form_for @search, url: search_tours_path, method: :post do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_conditions t("add_condition"), f, :condition %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit t "search" %></div>
<% end %>

<div class="container body">
  <div class="main_container">
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3> All Tours</h3>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
              <div class="x_title">
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                  <% @tours.each do |tour| %>
                    <div class="col-md-4">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <%= image_tag "banner_6.jpg", alt: "image", style: "width: 100%; height: 100%; display: block;" %>
                          <div class="mask">
                            <p style="font-size:18px;"><strong><%= tour.name %></strong></p>
                            <div class="tools tools-bottom">
                              <%= link_to t("user_tours.read_more"), tour_path(tour), class: "btn btn-primary" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/admin_main.js"></script>
