<% provide :title, t("tour.title") %>
<h1 class="text-center"><%= t "tour.title" %></h1><br>

<%= search_form_for @search, url: search_tours_path, method: :post do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_fields t("add_condition"), f, :condition %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit t "search" %></div>
<% end %>

<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "tour.id" %></th>
      <th><%= t "tour.name" %></th>
      <th><%= t "tour.start_Place" %></th>
      <th><%= t "tour.end_Place" %></th>
      <th><%= t "tour.description" %></th>
      <th><%= t "tour.price" %></th>
      <th><%= t "tour.rating" %></th>
      <th><%= t "tour.startDate" %></th>
      <th><%= t "tour.endDate" %></th>
      <th><%= t "tour.status" %></th>
    </tr>
  </thead>
  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.id %></td>
        <td><%= link_to tour.name, tour_path(tour) %></td>
        <td><%= tour.startPlace %></td>
        <td><%= tour.endPlace %></td>
        <td><%= truncate(tour.description, length: 15) %></td>
        <td><%= tour.price %></td>
        <td><%= tour.rating %></td>
        <td><%= tour.startDate.to_time.strftime("%d-%m-%Y") %></td>
        <td><%= tour.endDate.to_time.strftime("%d-%m-%Y") %></td>
        <td><%= tour.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
