<% provide :title, @tour.name %>
<div class="row col-md-4">
  <div>
    <label><%= t "tour.name" %></label>
    <%= @tour.name %>
  </div>
  <div>
    <label><%= t "tour.start_place" %></label>
    <%= @tour.startPlace %>
  </div>
  <div>
    <label><%= t "tour.end_place" %></label>
    <%= @tour.endPlace %>
  </div>
  <div>
    <label><%= t "tour.description" %></label>
    <%= @tour.description %>
  </div>
  <div>
    <label><%= t "tour.price" %></label>
    <%= @tour.price %>
  </div>
  <div>
    <label><%= t "tour.rating" %></label>
    <%= @tour.rating %>
  </div>
  <div>
    <label><%= t "tour.start_date" %></label>
    <%= @tour.start_date.to_time.strftime("%d-%m-%Y") %>
  </div>
  <div>
    <label><%= t "tour.end_date" %></label>
    <%= @tour.end_date.to_time.strftime("%d-%m-%Y") %>
  </div>
  <div>
    <label><%= t "tour.status" %></label>
    <%= @tour.status %>
  </div>
</div>

