<% provide :title, @tour.name %>

<link href="/css/admin_main.css" rel="stylesheet">

<div class="container body">
  <div class="main_container">
    <div class="right_col" role="main">

      <div class="">
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2><%= @tour.name %></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="product-image">
                    <%= image_tag "tour.jpg", alt: "tour" %>
                  </div>
                  <div class="product_gallery">
                    <a>
                      <%= image_tag "1.jpg", alt: "tour" %>
                    </a>
                    <a>
                      <%= image_tag "2.jpg", alt: "tour" %>
                    </a>
                    <a>
                      <%= image_tag "3.jpg", alt: "tour" %>
                    </a>
                    <a>
                      <%= image_tag "4.jpg", alt: "tour" %>
                    </a>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">
                  <h3 class="prod_title"><%= @tour.name %> (còn <%= @left %> chỗ)</h3>
                  <h4><strong><%= @tour.start_place.name %> - <%= @tour.end_place.name %></strong></h4>
                  <br />
                  <strong><%= @tour.start_date.strftime("%d-%m-%Y") %> - <%= @tour.end_date.strftime("%d-%m-%Y") %></strong>
                  <br />
                  <br />
                  <p><strong><%= t "user_tours.accommodation" %>: </strong><%= @tour.accommodation %></p>
                  <br />
                  <p><strong><%= t "user_tours.meals" %>: </strong><%= @tour.meals %></p>
                  <br />
                  <p><strong><%= t "user_tours.transport" %>: </strong><%= @tour.transport %></p>
                  <br />
                  <p><strong><%= t "user_tours.service" %>: </strong><%= @tour.additional_services %></p>
                  <br />
                  <div class="">
                    <div class="product_price">
                      <p>
                        <h3 class="price">
                        <strong><%= t "user_tours.price" %>: </strong>
                          <% if @tour.currency == "vnd" %>
                            <%= @tour.price.round %> <%= t "vnd" %>
                          <% else %>
                            <%= t "usd" %><%= @tour.price %>
                          <% end %>
                        </h3>
                      </p>
                      <% if @tour.discount.presence %>
                        <p>
                          <strong><%= t "user_tours.save" %>: </strong>
                          <% if @tour.currency == "vnd" %>
                            <%= (@tour.discount.percent * @tour.price/100).round %> <%= t "vnd" %>
                          <% else %>
                            <%= t "usd" %><%= (@tour.price * @tour.discount.percent)/100 %>
                          <% end %>
                        </p>
                      <% end %>
                    </div>
                  </div>

                  <div class="">
                    <%= link_to t("user_tours.book"), new_tour_booking_path(@tour), class: "btn btn-default btn-lg" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/admin_main.js"></script>
