<% provide :title, t("admin_discounts.title") %>
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3><%= t "admin_discounts.title" %></h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><%= t "admin_discounts.all" %>
            <%= link_to t("admin_manage.create"), new_admin_discount_path,
            class: "btn btn-success btn-xs glyphicon glyphicon-plus" %></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="categories-table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t "admin_discounts.id" %></th>
                <th><%= t "admin_discounts.name" %></th>
                <th><%= t "admin_discounts.percent" %></th>
                <th><%= t "admin_discounts.start_date" %></th>
                <th><%= t "admin_discounts.end_date" %></th>
                <th><%= t "admin_discounts.description" %></th>
                <th><%= t "admin_manage.action" %></th>
            </thead>
            <tbody>
              <% @discounts.each do |discount| %>
                <tr>
                  <td><%= discount.id %></td>
                  <td><%= link_to discount.name, admin_discount_path(discount) %></td>
                  <td><%= discount.percent %> %</td>
                  <td><%= discount.start_date.strftime("%d-%m-%Y") %></td>
                  <td><%= discount.end_date.strftime("%d-%m-%Y") %></td>
                  <td style="width:34%"><%= truncate(discount.description, length: 200) %></td>
                  <td style="width:16%">
                    <%= link_to edit_admin_discount_path(discount), class: "btn btn-round btn-info btn-xs" do %>
                      <i class="fa fa-pencil-square-o "></i><%= t "admin_manage.edit" %>
                    <% end %>
                    <%= link_to [:admin, discount], method: :delete, class: "btn btn-round btn-danger btn-xs" do %>
                      <i class="fa fa-times"></i><%= t "admin_manage.delete" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    //DataTable
    $('#categories-table').DataTable();
  })
</script>
