<% provide :title, t("discount.title") %>
<h1 class="text-center"><%= t "discount.title" %></h1><br>

<%= search_form_for [:admin, @search], url: search_admin_discounts_path, method: :post  do |f| %>
  <div class="field">
    <%= f.label :name_cont, t("name_cont") %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="action"><%= f.submit t "search" %></div>
<% end %>

<div class="row">
  <div class="col-md-6 center">
    <%= link_to t("discount.add"), new_admin_discount_path,
      class: "btn btn-success glyphicon glyphicon-plus" %>
  </div>
</div>
<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "discount.id" %></th>
      <th><%= t "discount.name" %></th>
      <th><%= t"discount.percent" %></th>
      <th><%= t "tour.start_date" %></th>
      <th><%= t "tour.end_date" %></th>
      <th><%= t "place.description" %></th>
      <th><%= t "place.action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.id %></td>
        <td><%= link_to discount.name, admin_discount_path(discount) %></td>
        <td><%= discount.percent %> %</td>
        <td><%= discount.start_date.strftime("%d-%m-%Y") %></td>
        <td><%= discount.end_date.strftime("%d-%m-%Y") %></td>
        <td><%= discount.description %></td>
        <td>
          <%= link_to t("edit"), edit_admin_discount_path(discount),
            class: "btn btn-primary" %>
          <%= link_to t("delete"), [:admin, discount], method: :delete,
            data: {confirm: t("sure")}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
