<% provide :title, @discount.name %>
<div class="row">
  <aside class="col-md-4">
    <div>
      <label><%= t "discount.name" %></label>
      <%= @discount.name %>
    </div>
    <div>
      <label><%= t "discount.percent" %></label>
      <%= @discount.percent %>
    </div>
    <div>
      <label><%= t "tour.start_date" %></label>
      <%= @discount.start_date.strftime("%d-%m-%Y") %>
    </div>
    <div>
      <label><%= t "tour.end_date" %></label>
      <%= @discount.end_date.strftime("%d-%m-%Y") %>
    </div>
    <div>
      <label><%= t "discount.description" %></label>
      <%= @discount.description %>
    </div>
  </aside>
  <div>
    <%= link_to t("edit"), edit_admin_discount_path(@discount),
      class: "btn btn-primary" %>
    <%= link_to t("delete"), [:admin, @discount], method: :delete,
      data: {confirm: t("sure")}, class: "btn btn-danger" %>
  </div>
</div>
