<link rel="stylesheet" type="text/css" href="/css/admin_main.css">
<div data-turbolinks="false">

  <div class="login_wrapper">
    <div class="form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1><%= t "login.form" %></h1>
          <%= devise_error_messages! %>
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <div>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email", required: "" %>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", required: "" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox text-center">
              <label style="padding-left: 0">
                <%= f.check_box :remember_me, class: "flat" %>
                <%= t "login.remember_me" %>
              </label>
            </div>
          <% end -%>
          <div class="text-center">
            <%= f.submit t("login.title"), class: "btn btn-default submit" %>
            <%= link_to t("login.forget_password"), new_user_password_path %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link"><%= t "signup.show" %>
              <%= link_to t("signup.title"), new_user_registration_path %>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><i class="fa fa-paw"></i> <%= t "slogan" %></h1>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>

