<div class="container body">
  <div class="main_container">
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_content">
              <%= form_for [@booking, @payment] do |f| %>
                <section class="content invoice">
                  <!-- title row -->
                  <div class="row">
                    <div class="col-xs-12 invoice-header">
                      <h1 style="margin-left:-600px;">
                        <i class="fa fa-globe"></i> <%= t "company.name" %>
                        <small class="pull-right" style="margin-right:100px;font-size:18px;"><%= t "user_payments.date_now" %>: <%= Time.now.strftime("%d-%m-%Y") %> </small>
                      </h1>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- info row -->
                  <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                      <%= t "company.from" %>:
                      <address>
                        <strong><%= t "company.name" %></strong>
                        <br><%= t "company.stress" %>
                        <br><%= t "company.city" %>
                        <br><%= t "company.hotline" %>
                        <br><%= t "company.email" %>
                      </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                      <%= t "company.to" %>:
                      <address>
                        <strong><%= t "users.mr_mrs" %> <%= @booking.user.username.capitalize %></strong>
                        <br><%= @booking.user.address %>
                        <br>Phone: <%= @booking.user.phone_number %>
                        <br>Email: <%= @booking.user.email %>
                      </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                      <br />
                      <br />
                      <b><%= t "user_bookings.id" %>:</b> <strong><%= @booking.id %></strong>
                      <br>
                      <b><%= t "user_payments.date_now" %>:</b> <%= Time.now.strftime("%d-%m-%Y") %>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

                  <!-- Table row -->
                  <div class="row">
                    <div class="col-xs-12 table">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th><%= t "user_bookings.qty" %></th>
                            <th><%= t "user_payments.tour_id" %></th>
                            <th><%= t "user_payments.tour_name" %></th>
                            <th style="width: 40%"><%= t "user_payments.info" %></th>
                            <th><%= t "user_payments.tour_price" %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%= @booking.visitors.count %></td>
                            <td><%= @booking.tour.id %></td>
                            <td><strong><%= link_to @booking.tour.name, tour_path(@booking.tour) %></strong></td>
                            <td>
                              <%= t "user_bookings.start" %> <strong><%= @booking.tour.start_date.strftime("%d-%m-%Y") %></strong> <%= t "user_bookings.tai" %> <strong><%= @booking.tour.start_place.name %></strong>
                              <br>
                              <%= t "user_bookings.end" %> <strong><%= @booking.tour.end_date.strftime("%d-%m-%Y") %></strong> <%= t "user_bookings.tai" %> <strong><%= @booking.tour.end_place.name %></strong>
                              <br>
                              <%= t "user_discounts.saleoff" %>: <%= @booking.tour.discount.name %> - <%= @booking.tour.discount.percent %>%
                            </td>
                            <td>
                              <% if @booking.tour.vnd? %>
                                  <%= @booking.tour.price.round %> <%= t "vnd" %>
                                <% else %>
                                  <%= t "usd" %><%= @booking.tour.price %>
                                <% end %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

                  <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-xs-6">
                      <p class="lead"><strong><%= t "user_payments.method" %>: </strong></p>
                      <%= image_tag "visa.png", alt: "Visa" %>
                      <%= image_tag "mastercard.png", alt: "Mastercard" %>
                      <%= image_tag "american-express.png", alt: "American Express" %>
                      <%= link_to booking_path(@booking, user_payment: "user_payment"), method: :patch do %>
                        <%= image_tag "paypal.png", alt: "Paypal" %>
                      <% end %>
                      <p class="text-muted well well-sm no-shadow" style="width: 500px; margin-top: 10px;">
                        <%= t "user_payments.rule" %>
                      </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                      <p class="lead"><strong><%= t "user_payments.date_now" %>: <%= Time.now.strftime("%d-%m-%Y") %></strong></p>
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th style="width:50%"><%= t "user_payments.price" %>: </th>
                              <td><strong>
                                <% if @booking.tour.vnd? %>
                                  <%= (@booking.tour.price * @booking.visitors.count).round %> <%= t "vnd" %>
                                <% else %>
                                  <%= t "usd" %><%= @booking.tour.price * @booking.visitors.count %>
                                <% end %></strong>
                              </td>
                            </tr>
                            <tr>
                              <th><%= t "user_payments.discount" %>: </th>
                              <td><strong>
                                <% if @booking.tour.vnd? %>
                                  <%= ((@booking.tour/100) * @booking.tour.discount.percent * @booking.visitors.count).round %> <%= t "vnd" %>
                                <% else %>
                                  <%= t "usd" %><%= (@booking.tour.price/100) * @booking.tour.discount.percent * @booking.visitors.count %>
                                <% end %></strong>
                              </td>
                            </tr>
                            <tr>
                              <th><%= t "user_payments.total" %>:</th>
                              <td><strong>
                                <% if @booking.tour.vnd? %>
                                  <%= @booking.total_price.round %> <%= t "vnd" %>
                                <% else %>
                                  <%= t "usd" %><%= @booking.total_price %>
                                <% end %></strong>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </section>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>
<link href="/css/admin_main.css" rel="stylesheet">
