<link href="/css/admin_main.css" rel="stylesheet">

<div class="container body">
  <div class="main_container">

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="height:600px;">
              <div class="x_title">
                <h2>All Discounts</h2>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">
                <div class="row">
                  <div class="col-md-12">
                    <% @discounts.each do |discount| %>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="pricing ui-ribbon-container">
                        <div class="ui-ribbon-wrapper">
                          <div class="ui-ribbon">
                            <%= discount.percent %>% Off
                          </div>
                        </div>
                        <div class="title">
                          <h1><%= discount.name %></h1>
                          <h2>Save about $25</h2>
                          <span>Monthly</span>
                        </div>
                        <div class="x_content">
                          <div class="">
                            <div class="pricing_features">
                              <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Save: <strong><%= discount.percent %>%</strong></li>
                                <li><i class="fa fa-check text-success"></i> <strong>Description: </strong><%= discount.description %></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-check text-success"></i> All time <strong> updates</strong></li>
                                <li><i class="fa fa-times text-danger"></i> <strong>Allowed</strong> to be exclusing per sale</li>
                              </ul>
                            </div>
                          </div>
                          <div class="pricing_footer">
                            <%= link_to "View details", discount_path(discount), class: "btn btn-primary btn-block" %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>
<script src="/js/admin_main.js"></script>
