<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle"
            data-toggle="dropdown" aria-expanded="false">
            <%= image_tag "guide.png" %>
              <%= current_user.username if user_signed_in? && current_user %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><%= link_to t("admin_header.profile"), current_user %></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out pull-right"></i><%= t "admin_header.logout" %>
              <% end %>
            </li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell-o"></i>
            <span class="badge bg-green"><%= @header_notifications.count %></span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <% @header_notifications.each do |noti|%>
              <% if noti.notifiable_type == "Review" %>
                <li>
                  <a>
                    <span>
                      <span><%= noti.user.username %></span>
                      <span class="time"><%= time_ago_in_words(noti.created_at) %> trước.</span>
                    </span>
                    <span class="message">
                      Da them bai nhan xet ve dia diem: <%= Place.find_by_id(noti.notifiable_id).name %>
                    </span>
                  </a>
                </li>
              <% elsif noti.notifiable_type == "Booking" %>
                <li>
                  <a>
                    <span>
                      <span><%= noti.user.username %></span>
                      <span class="time"><%= time_ago_in_words(noti.created_at) %> trước.</span>
                    </span>
                    <span class="message">
                      Da dat tour: <%= Tour.find_by_id(noti.notifiable_id).name %>
                    </span>
                  </a>
                </li>
              <% end %>
            <% end %>
            <li>
              <div class="text-center">
                <a>
                  <strong>Xem tat ca thong bao</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
