<link href="/css/admin_main.css" rel="stylesheet">

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3><%= t "user_categories.base_title" %> - <strong><%= @category.title %></strong> </h3>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <h3><%= t "user_categories.tour" %></h3>
                  <div class="row">
                    <% @tours.each do |tour| %>
                      <div class="col-md-4">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <%= image_tag "media.jpg", alt: "image", style: "width: 100%; height: 100%; display: block;" %>
                            <div class="mask">
                              <p style="font-size:20px;"><strong><%= tour.name %></strong></p>
                              <div class="tools tools-bottom">
                                <%= link_to t("user_categories.read_more"), tour_path(tour), class: "btn btn-primary" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/admin_main.js"></script>
</body>

