<% provide :title, t("static_pages.home.title") %>
<!-- top tiles -->
<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
    <div class="count green"><%= User.all.count %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i> Total Categories</span>
    <div class="count"><%= Category.all.count %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Places</span>
    <div class="count green"><%= Place.all.count %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Tours</span>
    <div class="count"><%= Tour.all.count %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Bookings</span>
    <div class="count"><%= Booking.all.count %></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total Discounts</span>
    <div class="count"><%= Discount.all.count %></div>
  </div>
</div>
<div class="row" style="margin-top: 15%;">
  <h1 class="text-center">Welcome to admin's dashbourd.</h1>
</div>
<!-- /top tiles -->
