<% provide :title, t("static_pages.home.title") %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
      <div id="sidebar" class="well sidebar-nav">
        <h5><i class="glyphicon glyphicon-home"></i>
          <small><b>MANAGEMENT</b></small>
        </h5>
        <ul class="nav nav-pills nav-stacked">
          <li>
            <%= link_to t("category.title"), admin_categories_path,
              class: "btn btn-primary" %>
          </li>
          <li>
            <%= link_to t("place.title"), admin_places_path,
              class: "btn btn-primary" %>
          </li>
          <li>
            <%= link_to t("tour.title"), admin_tours_path,
              class: "btn btn-primary" %>
          </li>
          <li>
            <%= link_to t("booking.title"), admin_bookings_path,
              class: "btn btn-primary" %>
          </li>
          <li>
            <%= link_to t("discount.title"), admin_discounts_path,
              class: "btn btn-primary" %>
          </li>
        </ul>
        <h5><i class="glyphicon glyphicon-user"></i>
          <small><b>USERS</b></small>
        </h5>
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to t("user.title"), admin_users_path, class: "btn btn-primary" %></li>
          <li><%= link_to t("review.title"), admin_reviews_path, class: "btn btn-primary" %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
        <!-- Content Here -->
    </div>
  </div>
</div>
