<div style="margin-top:50px">
  <%= form_for [@place, @review] do |form| %>
    <%= form.hidden_field :place_id, value: @place.id %>
    <label><%= t "user_reviews.title" %>: </label>
    <%= form.text_field :title, :class => "someclass",
      :ckeditor => {:language => "vi"} %>
    <%= form.cktext_area :content, :ckeditor => {:language => "vi"} %>
    <div class="form-group" style="padding-top:10px;">
      <%= form.submit t("save"), class: "btn btn-primary" %>
      <%= link_to t("cancel"), place_path(@place), class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
