<% provide :title, t("place.title") %>
<h1 class="text-center"><%= t "place.title" %></h1><br>

<%= search_form_for @search, url: search_places_path, method: :post  do |f| %>
  <div class="field">
    <%= f.label :name_cont, t("name_cont") %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="action"><%= f.submit t "search" %></div>
<% end %>

<table class="table sortable table-bordered">
  <thead>
    <tr>
      <th><%= t "place.id" %></th>
      <th><%= t "place.name" %></th>
      <th><%= t "place.description" %></th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.id %></td>
        <td><%= link_to place.name, place_path(place) %></td>
        <td><%= place.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
