<% provide :title, @place.name %>
<div class="row">
  <aside class="col-md-4">
    <div>
      <label><%= t "place.name" %></label>
      <%= @place.name %>
    </div>
    <div>
      <label><%= t "place.description" %></label>
      <%= @place.description %>
    </div>
    <div>
      <%= link_to "Add review", new_place_review_path(@place),
        class: "btn btn-success glyphicon glyphicon-plus" %>
    </div>
  </aside>

  <div class="col-md-4">
    <% if @place.reviews.any? %>
      <h3><%= t "review.title" %> (<%= @place.reviews.count %>)</h3>
        <ol class="reviews">
          <%= render "reviews/index" %>
        </ol>
    <% end %>
  </div>
</div>
