<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only"><%= t ".static_pages.header.nav" %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to t("static_pages.header.logo"), admin_static_pages_path,
            class: "navbar-brand" %>
        <% else %>
          <%= link_to t("static_pages.header.logo"), static_pages_path(:home),
            class: "navbar-brand" %>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to t("static_pages.contact.contact_title"),
              static_pages_path(:contact) %></a>
          </li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= link_to current_user.username, user_path(current_user) %>
              <div class="dropdown-content">
                <%= link_to t("static_pages.header.edit"),
                  edit_user_registration_path %>
                <%= link_to t("static_pages.header.logout"),
                  destroy_user_session_path, method: :delete %>
              </div>
            </li>
          <% else %>
            <li><%= link_to t("static_pages.header.sign_up"),
              new_user_registration_path %></li>
            <li><%= link_to t("login.title"), new_user_session_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
