<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <% if user_signed_in? && current_user.admin? %>
  <body>
    <%= render "admin/layouts/header" %>
    <%= render "admin/layouts/bar_menu" %>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <div class="admin-ctn">
        <%= yield %>
      </div>
    </div>
  </body>
  <% else %>
  <body class="login">
    <% if current_page?(root_path) %>
      <%= render "static_pages/home_page" %>
    <% elsif current_page?(new_user_session_path) %>
      <div class="container cnt">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
  <% end %>
</html>
