<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if user_signed_in? && current_user.admin? %>
      giao dien admin
    <% else %>
      <% if current_page?(root_path) %>
        <%= render "static_pages/home_page" %>
      <% else %>
        <header>
          <%= render "layouts/header" %>
        </header>
        <div class="container cnt">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
      <% end %>
    <% end %>
  </body>
</html>
